<div class="min-h-screen bg-gray-200 flex justify-center items-center">
  <div class="bg-white shadow-lg rounded-lg px-8 py-10 max-w-md w-full">
    <h1 class="text-2xl font-bold mb-8 text-gray-800">Register</h1>
    <form
      class="space-y-6"
      #f="ngForm"
      *ngIf="!isSuccessful"
      (submit)="f.form.valid && onSubmit(f)"
    >
      <div *ngIf="errorMessage" class="text-red-500 text-lg">
        {{ errorMessage }}
      </div>
      <div>
        <label for="name" class="block text-gray-800 font-bold mb-2">Name</label>
        <input
          name="name"
          type="text"
          id="name"
          class="w-full bg-gray-200 border border-gray-400 py-2 px-4 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
          placeholder="Enter your name"
          [(ngModel)]="user.name"
          #name="ngModel"
          minlength="3"
          maxlength="20"
          required
          >
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-red-500 text-xs italic">
          <!-- <div *ngIf="name.errors['required']">Name is required.</div> -->
        </div>
      </div>
      <div>
        <label for="email" class="block text-gray-800 font-bold mb-2">Email</label>
        <input
          name="email"
          type="email"
          id="email"
          class="w-full bg-gray-200 border border-gray-400 py-2 px-4 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
          placeholder="Enter your email"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-500 text-xs italic">
          <!-- <div *ngIf="email.errors['required']">Email is required.</div> -->
        </div>
      </div>
      <div>
        <label for="password" class="block text-gray-800 font-bold mb-2">Password</label>
        <input
          name="password"
          type="password"
          id="password"
          class="w-full bg-gray-200 border border-gray-400 py-2 px-4 rounded-lg focus:outline-none focus:ring focus:border-blue-300"
          placeholder="••••••••"
          [(ngModel)]="user.password"
          #password="ngModel"
          minlength="6"
          required
        />
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-500 text-xs italic">
          <!-- <div *ngIf="password.errors['required']">Password is required.</div> -->
        </div>
      </div>
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
        Register
      </button>
      <p>Already have an Account ? <a href="/app-login">Login</a></p>
    </form>
  </div>
</div>
